@page
@model TaskManager20._01._22.Pages.Statuses.IndexModel

@{
    ViewData["Title"] = "Index";
    Layout = "~/Pages/Shared/_Layout.cshtml";
}

<h1>Index</h1>

<p>
    @if (User.Identity.IsAuthenticated && User.Identity.Name == "admin123@gmail.com")
    {
    <a asp-page="Create">Create New</a>
    }
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Status[0].StatusName)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.Status) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.StatusName)
            </td>
            <td>
                <a asp-page="./Details" asp-route-id="@item.StatusId">Details</a>
                @if (User.Identity.IsAuthenticated && User.Identity.Name == "admin123@gmail.com")
                {
                    <span>|</span>
                    <a asp-page="./Edit" asp-route-id="@item.StatusId">Edit</a>
               
                    <span>|</span>
                <a asp-page="./Delete" asp-route-id="@item.StatusId">Delete</a>
                }
            </td>
        </tr>
}
    </tbody>
</table>
